In [1]:
!source .venv/bin/activate

In [2]:
%pip install -r requirements.txt

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.0.15)
Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (9.4.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (2.0.2)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (3.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->-r requirements.txt (line 1)) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->-r requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (1.24.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 3)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text

In [6]:
connection_string = "mysql+mysqlconnector://root:P%40ssw0rd@mysql-db:3306/sakila"
engine = create_engine(connection_string, echo=True)

In [7]:
with engine.connect() as conn:
    test_df = pd.read_sql(text("SHOW TABLES;"), conn)
test_df

2025-09-01 14:45:43,827 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-09-01 14:45:43,828 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-01 14:45:43,830 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-09-01 14:45:43,831 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-01 14:45:43,832 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-09-01 14:45:43,833 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-01 14:45:43,836 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-01 14:45:43,836 INFO sqlalchemy.engine.Engine SHOW TABLES;
2025-09-01 14:45:43,837 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {}
2025-09-01 14:45:43,842 INFO sqlalchemy.engine.Engine ROLLBACK

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store